*.DS_Store*
graphify-out/
raycast
fzf
history.txt
.ralph-tui/
__pycache__/
rclone
gh/
Cursor/
google-chrome/
legcord/
discord/
equibop/Crashpad
equibop/MessageLoggerData
equibop/sessionData
zsh/.zcompdump
heroic/
BambuStudio/cache
BambuStudio/log
BeeperTexts/
